@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Yeseva+One&display=swap');

.MuiGrid-root, .MuiTypography-root{
    z-index: 3333;
    position: relative;    
}
.fp-right {
    margin-top: 2.5px !important;
}
.fp-right ul li a span, .fp-slidesNav ul li a span {
    background-color: white !important;
}
.fp-slidesNav {
    left: 33px !important;
}
.fp-controlArrow.fp-next{
    border-width: 20.5px 0 20.5px 20px;
    
}
#fp-nav{
    top: 70%;
}
.fp-controlArrow.fp-prev{
    border-width: 20.5px 20px 20.5px 0;
}
.fp-controlArrow{
    top: 50%;
    opacity: 0.4;
}
.fp-tableCell {
  position: relative;
}
.MuiTypography-body2{
    font-size: 1.1rem !important;
    font-weight: 700 !important;
}

/* .MuiList-root a{
    text-decoration: none;
    color: greenyellow;
} */
