/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Caveat-Bold";

  src: url("./fonts/Caveat-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}